.card-body > .card-text, .card-body > .card-text > .text-muted > .like-icons{
  display: inline-block;
}
.like-icons{
  color: inherit;
}
.font-awesome-icon-component{
  color: #6c757d;
}
.like-icons:hover{
  color: inherit;
}
#spinner-border{
  border-top-color: #008075;
  border-bottom-color: #008075;
  border-left-color: #008075;
}
.small-like-tag{
  cursor: pointer;
}
/* 
  - Firstly changed the display property of the like icons from block to inline-block.
  - Then changed the color of the like icons, the font-awesome-icon-component, like-icons when hovered upon.
  - Then changed the border-top-color, border-bottom-color, border-left-color of the spinner-border.
  - Then changed the cursor property of the small-like-tag.
*/