#search-btn {
  border-radius: 0.75rem;
  color: #fff;
  background-color: #000000;
  border-color: #00a897;
}
/* 
  - Gave the search button a border radius, a color, a background color and a border color.
*/
